@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f2937;
  --foreground: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background-color: #1f2937;
}

body {
  color: var(--foreground);
  background: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}